.card
    margin-left: 50px
    margin-right: 50px
    text-align: center
    margin-top: 40px
    border: 0px
    border-radius: 10px
    background-color: #6159e5


.upper
    background-color: #6159e5
    height: 120px
    border-radius: 10px


.lower
    display: inline-block
    background-color: white
    border: 1px solid #6159e5
    border-radius: 10px
    // margin-top: -100px

.book-img
    margin-top: 60px
    border: 1px solid black
    height: 120px
    position: absolute
    max-width: 50%
    transform: translate(-50%,0%)

.date
    margin-right: auto
    margin-left: auto
    margin-top: 70px

.card-title
    margin-right: auto
    margin-left: auto
    margin-top: 15px
    font-size: 20px

.card-text
    margin-right: 20px
    margin-left: 20px
    margin-top: 5px
    font-size: 16px
    min-height: 40px

.request
    margin-top: 30px
    margin-right: auto
    margin-left: auto
    margin-bottom: 30px
    background-color: #6159e5
    color: white
    min-width: 200px
    border: 0px
    border-radius: 5px
    height: 30px

.xyz
    list-style-type: none
    margin:50px auto 30px auto
    padding: 0

.list-item
    display: inline-block
    padding: 2px 15px
    border: 1px solid #aca9a9
    cursor: pointer

.list-item:hover
    background-color: #dbd9d9

.active-page
    background-color: #6159e5
    color: #fff

.disabledBtn
    color: #bdbbbb

.disabledBtn:hover
    background-color: #fff

.active-page:hover
    background-color: #6159e5


    