<app-nav [check]=true></app-nav>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4"
        *ngFor="let item of books | paginate: { itemsPerPage : 9, currentPage : pager.currentPage } ">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <div class="card">
              <div class="upper">
                <img src="../../assets/image/1.png" class="img-responsive book-img" alt="book image" />
              </div>
              <div class="lower">
                <div class="row">
                  <div class="date">20 July 2020</div>
                </div>
                <div class="row">
                  <div class="card-title"><b>500 Days of Summer</b></div>
                </div>
                <div class="row">
                  <div class="card-text">{{item.title.slice(0,50)}}
                  </div>
                </div>
                <div class="row">
                  <button routerLink="/book-info" class="request">Request</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="xyz" *ngIf="pager.pages && pager.pages.length">
        <li [ngClass]="{'disabledBtn': pager.currentPage === 1}" class="list-item"
          (click)="setPage(pager.currentPage-1)">
          &laquo;</li>
        <li *ngFor="let page of pager.pages" [ngClass]="{'active-page': pager.currentPage === page}" class="list-item"
          (click)="setPage(page)">{{page}}</li>
        <li [ngClass]="{'disabledBtn': pager.currentPage === pager.totalPages}" class="list-item"
          (click)="setPage(pager.currentPage+1)">&raquo;</li>
      </ul>
    </div>
