<div class="user-library">
  <div class="header">
      <img class="img-fluid icon" src="../../../assets/image/icons8-course-40.png">
      <span class="title">
          Your Library
      </span>
  </div>
  <div class="private-library">
      <img class="img-fluid icon" src="../../../assets/image/icons8-lock-40.png">
      <span class="title">
           Private Library<br>
      </span>

          <div class="row">
              <div class="col-sm-3 col-6">
                  <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
              </div>
              <div class="col-sm-3 col-6">
                  <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
              </div>
              <div class="col-sm-3 col-6">
                  <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
              </div>
              <div class="col-sm-3 col-6">
                  <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
              </div>
              <div class="col-sm-3 col-6">
                  <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
              </div>
          </div>
  </div>
  <div class="public-library">
      <img class="img-fluid icon" src="../../../assets/image/icons8-padlock-40.png">
      <span class="title">
          Public Library
      </span>
      <div class="row">
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
      </div>
  </div>
  <div class="shared-books">
      <img class="img-fluid icon" src="../../../assets/image/icons8-handshake-40.png">
      <span class="title">
          Shared Books
      </span>
      <div class="row">
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
      </div>
  </div>
  <div class="borrowed-books">
      <img class="img-fluid icon" src="../../../assets/image/icons8-borrow-book-40.png">
      <span class="title">
          Borrowed Books
      </span>
      <div class="row">
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
          <div class="col-sm-3 col-6">
              <img class="book-genre-img" src="../../../assets/image/1.png"><br><label>Book Name</label>
          </div>
      </div>
  </div>

</div>

