<app-nav></app-nav>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <p class="text">Hello {{user}}, pick your favourite genre</p>
    <div class="row">
      <div class="col-sm-3">
        <img [ngStyle]="style[0]" (click)="select(0)" class="img-fluid" src="../../assets/image/1.png">
        <p class="genre">Romantic</p>
      </div>
      <div class="col-sm-3">
        <img [ngStyle]="style[1]" (click)="select(1)" class="img-fluid" src="../../assets/image/2.png">
        <p class="genre">Fiction</p>
      </div>
      <div class="col-sm-3">
        <img [ngStyle]="style[2]" (click)="select(2)" class="img-fluid" src="../../assets/image/3.png">
        <p class="genre">Educational</p>
      </div>
      <div class="col-sm-3">
        <img [ngStyle]="style[3]" (click)="select(3)" class="img-fluid" src="../../assets/image/4.png">
        <p class="genre">Mystery</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <img [ngStyle]="style[4]" (click)="select(4)" class="img-fluid" src="../../assets/image/5.png">
        <p class="genre">Biography</p>
      </div>
      <div class="col-sm-3">
        <img [ngStyle]="style[5]" (click)="select(5)" class="img-fluid" src="../../assets/image/6.png">
        <p class="genre">Poetry</p>
      </div>
      <div class="col-sm-3">
        <img [ngStyle]="style[6]" (click)="select(6)" class="img-fluid" src="../../assets/image/7.png">
        <p class="genre">Sci-fi</p>
      </div>
      <div class="col-sm-3">
        <img [ngStyle]="style[7]" (click)="select(7)" class="img-fluid" src="../../assets/image/8.png">
        <p class="genre">other</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
