
<div class="user-info">
  <div class="header">
   <img class="img-fluid" src="../../../assets/image/icons8-info-40.png">
   <span class="title">Personal Info</span>
  </div>
   <table>
       <tr>
           <td>
               City
           </td>
           <td>
               :
           </td>
           <td>
               Aurangabad
           </td>
       </tr>
       <tr>
           <td>
               Email
           </td>
           <td>
               :
           </td>
           <td>
               ksm@gmail.com
           </td>
       </tr>
       <tr>
           <td>
               Phone No.
           </td>
           <td>
               :
           </td>
           <td>
               123456789
           </td>
       </tr>
   </table>
   <button class="btn-edit-info">Edit Info</button>
</div>
