<div class="create">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()" method="POST" novalidate>
    <table>
      <tr>
        <td colspan="2">
          <div class="contain">
            <p class="mini_title">Create an account</p>
          </div>
        </td>
      </tr>
      <tr class="new">
        <td>
          <span class="has-float-label">
            <input id="s_firstname" type="text" class="form-control" placeholder="First Name"
              formControlName="firstname" [ngClass]="{'is-invalid': submitted && f.firstname.errors} " required />
            <label for="s_firstname">firstname</label>
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">This is a required field</div>
            </div>
          </span>
        </td>
        <td>
          <span class="has-float-label">
            <input id="s_lastname" type="text" placeholder="Last Name" class="form-control" formControlName="lastname"
              [ngClass]="{'is-invalid': submitted && f.lastname.errors}" />
            <label for="s_lastname">lastname</label>
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">This is a required field</div>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="has-float-label">
            <input id="s_email" type="email" placeholder="Email" class="form-control" formControlName="email"
              [ngClass]="{'is-invalid': submitted && f.email.errors}" />
            <label for="s_email">email</label>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">This is a required field</div>
              <div *ngIf="f.email.errors.email">Invalid Email</div>
            </div>
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span class="has-float-label">
            <input id="s_pass" type="password" placeholder="Password" class="form-control" formControlName="password"
              [ngClass]="{'is-invalid': submitted && f.password.errors}" />
            <label for="s_pass">password</label>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">This is a required field</div>
              <div *ngIf="f.password ['minlength']">Password must be at least 8 characters</div>
            </div>
          </span>
        </td>
      </tr>
    </table>
    <div class="form-group">
        <button routerLink="/select-genre" type="submit" id="signup_button">Sign up</button>
    </div>
  </form>
</div>
