<div class="container name-profile-bar">
  <img class="img-fluid" src="../../../assets/image/Ellipse 14.png">
  <span class="user-name">
      User Name
  </span>
  <button class="add-button" >Add Book</button>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-4 col-xs-12 user-personal-info">
          <app-user-info>

          </app-user-info>
      </div>
      <div class="col-sm-8 col-xs-12 user-library">
          <app-user-library>

          </app-user-library>
      </div>
  </div>
</div>
