<div class="container-fluid" style="padding-left: 2%; padding-right: 2%;padding-top: 0%;">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-7" style="padding: 0%">
      <app-img-left></app-img-left>
    </div>
    <div class="col-sm-5" style="padding: 0%">
      <div class="sign-in">
        <div class="formBody" id="sign-in">
          <app-sign-in></app-sign-in>
        </div>
      </div>
      <div class="formBody" id="sign-up">
        <app-sign-up></app-sign-up>
      </div>
    </div>
  </div>
  </div>
</div>
