<app-nav [check]=false></app-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="card">
          <div class="pass">
            <p>Enter new password: </p>
            <input type="password" class="password">
          </div>
          <div class="cpass">
            <p>Confirm password: </p>
            <input class="c_pass" type="password">
          </div>
        <div class="butn">
          <button class="verify">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
